.navbar{
    display: flex;
    justify-content: space-between;
    /* border:2px solid red; */
    border-bottom: 1px solid #dee2e6;
    align-items: center;
    background-color: #f8f9fa;

}

.nav-1{
    display: flex;
    align-items: center;
    gap:10px;
}

.nav-1>a >span{
    text-decoration: none;
}

.nav-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:100px;


}

.nav-2-1 >a{
    gap:10px;
}

.nav-3{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 50px; */
}

.main-div-1{
    gap:30px;


}

.btn{
    padding: 20px 50px;
    font-size: medium;
    font-weight: bolder;
    border-radius: 0.334rem;
    cursor: pointer;
    border:3px solid blue;
    
}

.main-div-2{
    padding: 20px;


}

.main-div-2 > img {
    gap:20px;

}







